.layout-main-container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: var(--content-padding);
  transition: margin-left var(--layout-section-transition-duration);
  overflow-y: auto;

  @media (max-width: 640px) {
    padding: var(--content-padding-mobile);
  }
}

.layout-main {
  flex: 1 1 auto;
  padding-bottom: 2rem;
}
